<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019
  ~ Copyright Holder : CompactCode - CompactCode BvBa - Belgium
  ~ Copyright : Unless granted permission from CompactCode BvBa.
  ~ You can not distribute, reuse, edit, resell or sell this.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ccintercom>
            <general>
                <enable>0</enable>
            </general>
            <positioning>
                <position>right</position>
                <padding_vertical>0</padding_vertical>
                <padding_horizontal>0</padding_horizontal>
            </positioning>
        </ccintercom>
    </default>
</config>
